* {
    box-sizing: border-box;
}
body {
    margin: 0;        
    margin-top: 0em;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eee;
    color: #333;
    font-size: large;
    text-align: center;
}
input{font-size:1em;}
button{font-size:1em;}
select{font-size:1em;}
sup{color: brown;}
#text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 95%;
    padding: 0.2em 5vw;
    padding-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 0 1em #bbb;
    text-align: left;
}
header {
    width: 100%;
    padding: 0.3em;
    background: linear-gradient(to bottom right,#6aa43e, #5b915e);
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 -1em 1em 1em #333;
    text-shadow: 0.02em 0.02em 0.3em #242;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: large;
    z-index: 99;
}
header a{
    text-decoration: none;
    color: #fff;
}
header ul{
    list-style: none;
    margin: 0;
    /*display: flex;*/
}
header li{
    width: 10em;
    float: left;
}
div{
    margin: 0;
}
#piano-wrapper{
    width:100%;
    height:4.2em;
    overflow-x: scroll;
}
#piano{
    height: 3.7em;
    width: 100%;
    display:table;
    table-layout:fixed;
    font-size: x-small;
    color: darkgray;
}
.piano_key{
    width:2.7em;
    height:6em;
    background-color:white;
    border-width:0.2em;
    border-color:darkgray;
    border-style:solid;
    display:table-cell;
    vertical-align:top;
}
.piano_key_black{
    width:2.7em;
    height:6em;
    background-color:rgb(37, 37, 37);
    border-width:0.2em;
    border-color:rgb(85, 85, 85);
    border-style:solid;
    display:table-cell;
    vertical-align:top;
}
.piano_key.scale{
    background-color: wheat;
}
.piano_key_black.scale{
    background-color: saddlebrown;
}
.piano_key.base{
    border-color: indianred;
}
.piano_key_black.base{
    border-color: maroon;
}
body{
    user-select: none;
}